.container.home
  %h1.title Tweetor Search Engine
  .row
    .col-md-3
    .col-md-6
      = form_tag search_documents_path, method: :get, class: 'search-form' do
        .form-group
          = text_field_tag :query, nil, placeholder: 'Enter keywords: Trump, news, football, Java ... ', class: 'form-control', autofocus: true
