.home{
  .title{
    padding-top: 150px;
    text-align: center;
    h1{
      display: inline-block;
      padding-right: 15px;
    }
  }
}
.search-form{
  padding: 30px 0;

  .form-group{
    padding: 0;
  }
  .form-control{
    padding: 20px 16px;
  }
}
.search-icon{
  width: 40px;
  padding-top: 30px;
}
.document{
  .title{
    color: #1a0dab;
    font-size: 19px;
    display: block;
  }
  .url{
    color: #006621;
    margin: 0;
    overflow: hidden;
  }
}
.pagination{
  margin: 0 0 25px -10px;
  .page{
    padding: 0 10px;
    font-size: 16px;
  }
}

.user-profile{
  text-align: center;
}
.avatar{
  height: 110px;
  padding: 10px;
}
.bg-color{
  background: yellow;
}